In [ ]:
print("Welcome to Excelr!")

Welcome to Excelr!

In [ ]:
print("\"welcome to Excelr!\"")

"welcome to Excelr!"

In [ ]:
"hello"

'hello'

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
3**3

27

In [ ]:
price=50.5
price
type(price) #only shows output of the last line

float

In [ ]:
price=50.5
print(price) # to see intermidiate line's output use print() fuction
type(price)

50.5

float

In [ ]:
name="Zain"
type(name)

str

In [ ]:
dir(str) # all methods that can be applied on strings
# _ dunder/magic methods (double underscore methods which python use internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [ ]:
str1

'welcome to Data Science.'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [ ]:
str1.lower()

'welcome to data science.'

In [ ]:
str1.title() # capitalize first letter of every word in a sentence

'Welcome To Data Science.'

In [ ]:
food="bIrYAni"
name="zAIN"
print(food.swapcase())
name.swapcase()

BiRyaNI

'Zain'

In [ ]:
s1="My name is Zain."
print(s1.split()) # list of strings is created
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Zain.']

['Mumbai', 'Pune', 'Mumbai']

In [ ]:
mail="zain@excelr.com"
mail.split("@")

['zain', 'excelr.com']

In [ ]:
s1

'My name is Zain.'

In [ ]:
s1.replace("Zain","Hamza")

'My name is Hamza.'

In [ ]:
#Single line comment
'''
multiline comment
'''

In [ ]:
city="Satara"
city.count("a")

3

In [ ]:
"Satara".count("a")

3

In [ ]:
name="Raj"
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*7

35

In [ ]:
name="Zain"
surname="Sayyed"
name+surname # concatenated without space

'ZainSayyed'

In [ ]:
name + " "+surname

'Zain Sayyed'

In [ ]:
# Conditional Statement
a=130
b=250
if a>b:

  print("a is greater")
  print("In true block")
  c=a+b
  print(c)

else:

    print('b is greater')
    print("In False block")
    c=a*b
    print(c)

b is greater
In False block
32500

In [ ]:
a=1200
b=300
if(a>b):
  print(a,"is greater")

else:
  print("Greatest number is:",b)

1200 is greater

In [ ]:
salary=25000
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if/ else")
print("Bye...outside of if block")
net_sal=salary-tax*salary
print("Net salary=",net_sal)
# change value of salary as 15000 and execute again

Hello from true if
Bye...outside of if block
Net salary= 18750.0

In [ ]:
range(5,10)

range(5, 10)

In [ ]:
# For loop (I is an interation varaible)
for i in range(5,10): # Print numbers from 5 to 9. Default increment 1
  print(i)
print("Bye")

5
6
7
8
9
Bye

In [ ]:
# print numbers 1 to 10



for i in range(1,50,2): # '2' is the decerment value
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
# Q1. Print all even numbers from 1 to 20
 # Q2. print all odd numbers from 1 to 20

In [ ]:
# Q1. print all even number from 1 to 20
# Answer:-
for i in range(2,20,2):
   print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
#Q2. print all odd numbers from 1 to 20
#Answer:-
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# 'break' statement terminates the loop when condition is satisfied

for i in range(1,11): # default increment is 1
    if i==5: # "==" comparison operator
      print("Same")
      break
    else:
      print(i)

1
2
3
4
Same

In [ ]:
 for num in range(11): # 0 to 10
    print(num,num*num) # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
for num  in range(11): # 0 to 10
   print(num,num**3) # num and its cubes or num**3

0 0
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

In [ ]:
# range(start,stop,step)
for i in range(1,30,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for i in subject:
   print(i)

S
c
i
e
n
c
e

In [ ]:
# print name 3 times on firts line, 4 times on 2nd, 5 - 3rd, 6-4th line.  Range(3,7)



name="Zain"
for i in range(3,7):
      print(name*i)

Zain Zain Zain
Zain Zain Zain Zain
Zain Zain Zain Zain Zain
Zain Zain Zain Zain Zain Zain

'\nname="Zain"\nfor i in range(3,7):\n      print(name*i)\n '

In [ ]:
name="Zain"
for i in range(3,7):
   x=(name + " ")*i
   print(x)

Zain Zain Zain
Zain Zain Zain Zain
Zain Zain Zain Zain Zain
Zain Zain Zain Zain Zain Zain

In [ ]:
# print each letter of movie on seprate line
# change case of each letter(upper to small and small to upper) of movie on a single line
movie="Oppenhimer"
for letter in movie: # variable is "Letter"
  #print(letter)
  #print (letter.swapcase())
  print(letter.swapcase(),end=" ") #try upper(), lower(), "-",'#', etc. Default

o P P E N H I M E R

In [ ]:
# print all even and odd number between given range using for loop
for i in range(1,11):
     if i %2  == 0:
          print('Even Number:',i)
     else:
          print('Odd Number:',i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [ ]:
# print all even and odds numbers between given using for loop
print('Even Numbers:')
for i in range(1,11):
  if i % 2==0:
    print(i,end= " ")


print(" ") # to insert a blank line
print('Odd Numbers:')
for i in range(1,11):
  if i %2!=0: # != not equal to
    print(i,end=" ")

Even Numbers:
2 4 6 8 10
Odd Numbers:
1 3 5 7 9

In [ ]:
status1=True
type(status1)

bool

In [ ]:
status2=False
type(status2)

bool

In [ ]:
# print each letter 4 times with seprate as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [ ]:
len("My name")

7

In [ ]:
len("Zain")

4

Lists

In [ ]:
# Date Structute: 1.List
# Lists are mutable.
#Created using square brackets[]
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
new_marks=sorted(marks)# creates new sorted list. Original marks list remains unchangable
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.sort() # original list is sorted in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.append(35) # Append will add element inside the list, in the last only
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.reverse()

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks2=[42,64,50,78,87,80]

In [ ]:
marks2.sort(reverse=True) # sorts in ascending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [ ]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False) # by default it sort in ascending order. No need to write (reverse=False)

In [ ]:
marks3

[40, 50, 60, 70, 80, 85]

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
90 in marks # check whether 90 is present in this list or not. If yes returns True, else False

False

In [ ]:
list1=[10,20,30]
list2=[40,50,60,]
list1+list2 # concarnation or merging of two lists

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3 # repeates 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [ ]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  #print(fruit.upper()) # in single line: print(fruit.upper(),end=" ")
  #print(fruit.upper(),end=" ")
  print(fruit.replace("u","a"), end=" ")

Mango Apple Banana Pineapple Castard Apple Strawberry

In [ ]:
# In python Indexing starts with 0
list3

NameError: ignored

In [ ]:
list3[0]

'Mango'

In [ ]:
list3.count("Banana")

1

In [ ]:
list3[6] # raise error as index is upto 5 only i.e.(0 to 5)

IndexError: ignored

In [ ]:
list3[5]

'Strawberry'

In [ ]:
# Slicing
list3[0:4] #0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
# from Apple to Strawberry i.e. till end
list3[1:] # or list3=[1:6]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# from beginning to Pineapple
list3[:4] # or list3[0:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
# Negative Indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [ ]:
list3[-3]

'Pineapple'

In [ ]:
list3[-6]

'Mango'

In [ ]:
# start stop step in slicing
print(list3)
list3[::2] #0,2,4,

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1=[1:31] # to creat list of 1 to 30 - will raise error

SyntaxError: ignored

In [ ]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
# print nos from index 2 to 26 with step of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3, end= " ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::-2] # step value is -2

['Strawberry', 'Pineapple', 'Apple']

In [ ]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [ ]:
'The' in 'Netherland'

False

In [ ]:
'therer' in 'Neatherland'

False

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Black Berry',
 'Straw Berry']

In [ ]:
list3.append("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
list3.remove("Mulberry") #remove mentioned element

In [ ]:
list3.append("Black berry")

In [ ]:
# Creat list4 of fruit from list3 having only 'berry' as substring and store the remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
# print square af all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2) # or l2.append(i*i)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
# List comprehensive - make your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [ ]:
newlist

['Strawberry', 'Black berry']

In [ ]:
print(newlist, end=" ")

['Strawberry', 'Black berry']

In [ ]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]

In [ ]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
city=["Pune","Mumbai","Satara","Thane","Solapur","Kolhapur"]

In [ ]:
newlistpur=[i for i in city if "pur" not in i]

In [ ]:
newlistpur

['Pune', 'Mumbai', 'Satara', 'Thane']

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [ ]:
list3.index('Mango')

0

In [ ]:
list3.index('Black berry')

6

In [ ]:
list3.index('orange') # will raise an error as item is not present in the list

In [ ]:
print(list3,end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry', 'Black berry']

In [ ]:
# index 2 item was banana which is replaced by Orange
#List are mutable - you can replace item of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [ ]:
# Data Structure: 2. TUPLE
#Tuples are not mutable i.e. inmutable
#created using round bracket ()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1=[0] = 7 # will raise error as tuples are inmutable

SyntaxError: ignored

In [ ]:
t3=t1 + (6,7,8,9,10)

In [ ]:
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1.count(1) # in bracket we have passed an element of tuple (not the index)

1

In [ ]:
t1.index(4)# in bracket we have passed an element of tuple (not the index)

3

In [ ]:
t2=(1,1,1,2,2,6,6,6,6,6)

In [ ]:
t2.count(6)

5

In [ ]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
t1[3:]

(4, 5)

In [3]:
# Data Structure: 3. Dictionary
# Dictionaries are used to store data values in "Key:value pairs".
#A Dictionary is a collection which is ordered, changable and do not allow duplicates.
#Dictionary are written with curly brackets {"key":"value"}, and have keys and values.
#Here, keys are unique identifiers that are associated with each value:

capital_dict={"Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict) # or dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# access element of dictionary
capital_dict["England"]

'London'

In [5]:
# Keys() method extract the keys of the dictionary and returns the list of keys as
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [4]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [8]:
# The values() method return a view object that displays a list of all the value in the dictionary
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [9]:
# The itemss() method return a view object that display a list of dictionary's (key, value)
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [10]:
# The update() method updates the dictionary with the elements from another dictionary object
add_capital={"India": "New Delhi","abc": "xyz"}
capital_dict.update(add_capital)

In [11]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [23]:
capital_dict.update({"Australia": "Sydney"}) #Capital of Australia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Australia': 'Sydney'}

In [24]:
# The pop() method removes and return an element from a dictionary having the given key.
capital_dict.pop("Australia")

'Sydney'

In [25]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [26]:
capital_dict['abc']="Mumbai"

In [27]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [28]:
capital_dict.popitem() # removes last key:value pair from the dictionary

('abc', 'Mumbai')

In [30]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [31]:
# Dictionary Value can be of differnt data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [32]:
mytuple=(20,53,45,78,89,65,97)

In [33]:
mydict={"A": mylist,
        "B":mytuple,
        "C":capital_dict
        }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [34]:
mydict["A"]

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [35]:
mydict["C"]

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [40]:
mydict['A'][2] # index 0 1 2 3, 3rd index element = banana

'Strawberry'

In [41]:
mydict['C']['Italy']

'Rome'

In [42]:
# math function: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: ignored

In [49]:
from math import sqrt
sqrt(25)

5.0

In [52]:
factorial(5)

NameError: ignored

In [53]:
from math import factorial

In [54]:
factorial(5)

120

In [55]:
sin(90)

NameError: ignored

In [58]:
from math import sin,cos,tan

In [57]:
sin(90)

0.8939966636005579

In [59]:
tan(45)

1.6197751905438615

In [64]:
from math import *
listnew=[5,2,3]
prod(listnew) # or prod([10,20,30])

30

In [65]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function
# The math.prod() method returns the product of the elements
import math # or 'import math as mt', mt.sqrt(64)
sequence = (2,2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [66]:
import math
list4=[2,3,4]
math.prod(list4)

24

In [67]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [70]:
import math as mt

In [72]:
mt.sqrt(36)

6.0