### Anova

In [2]:
# Load libraries
from sklearn import datasets

# Load iris dataset
iris = datasets.load_iris()

In [ ]:
# iris.data # output is value
iris # output will be dictionary {}

In [5]:
import pandas as pd

df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [ ]:
df.head()

In [ ]:
df['target'] =iris.target # adding column 'target'
df

In [ ]:
df.iloc[:,1]

In [ ]:
df[df['target']==0]

In [ ]:
df[df['target']==1]

In [ ]:
df[df['target']==2]

In [ ]:
df[df['target']==0]['sepal width (cm)']

In [ ]:
df[df['target']==1]['sepal width (cm)']

In [ ]:
df[df['target']==2]['sepal width (cm)']

In [ ]:
iris.target_names

In [20]:
group1_setosa=df[df['target']==0]['sepal width (cm)']
group2_versicolor=df[df['target']==1]['sepal width (cm)']
group3_virginica=df[df['target']==2]['sepal width (cm)']

In [21]:
group1_setosa.mean(),group2_versicolor.mean(),group3_virginica.mean()
# mean of sepal width of all 3 categories.

(3.428, 2.7700000000000005, 2.974)

In [ ]:
group1_setosa.hist()

In [ ]:
group2_versicolor.hist()

In [ ]:
group3_virginica.hist()

In [ ]:
import seaborn as sns
sns.displot(data=df,
            x='sepal width (cm)',
            hue='target',
            fill=True,
            kind='kde',
            palette=['Blue','Orange','Green'])

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12,4))
plt.scatter(range(1,51),group1_setosa)
plt.scatter(range(1,51),group2_versicolor)
plt.scatter(range(1,51),group3_virginica)


plt.legend(iris.target_names)
plt.show()

In [ ]:
# f_oneway - one way ANOVA
from scipy import stats
stats.f_oneway(group1_setosa,group2_versicolor,group3_virginica)
# p-value is 4.49*10^-17 which is approximately equal to 0. so p<alfa.
# so reject null hypo. So interpretation: at least 1 of them is different. i.e. setosa is different.

In [34]:
# another example of one way ANOVA
df1=pd.DataFrame(iris.data)
stats.f_oneway(df1.iloc[:,0],df1.iloc[:,1],df1.iloc[:,2],df1.iloc[:,3])
# p = 4.66 *10^-159 which is approximately = 0. So reject null hypo.
# H0=MUsl = MUsw = MUpl = MUpw, Ha = at least one of them is different

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)

### Chi-Square Test

In [35]:
from scipy.stats import chi2_contingency
from matplotlib import pyplot as plt
import pandas as pd

In [36]:
# Athlet and Smoker example: These are observed frequencies
data=[[14,4],
      [0,10]]

data

[[14, 4], [0, 10]]

In [37]:
df=pd.DataFrame(data,
                index=['Athlete','Non-Athlete'], # row names
                columns=['Non-Smoker','Smoker']) # column names

In [ ]:
df

In [ ]:
df.plot(kind='bar',
        stacked=False)

In [43]:
chi2_contingency(data) # test statistic, p-value,expected frequency
# p-value 0.00038 < 0.05 so reject null hypothesis (both variables are indepedent) Accept Ha: Both variable are dependent

Chi2ContingencyResult(statistic=12.600000000000001, pvalue=0.0003857467556820071, dof=1, expected_freq=array([[9., 9.],
       [5., 5.]]))